h2 {
    margin: 0px;
}

.question-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.question {
    font-size: 16px;
    font-weight: bold;
    color: #293264;
}

.choices-list {
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 8px;
}

.choice {
    border-radius: 8px;
    min-width: 64px;
    min-height: 21px;
    font-family: "Karla", system-ui;
    font-weight: 500;
    color: #293264;
    font-size: 10px;
    border: 1px solid #4D5B9E;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

.selected {
    background-color: #D6DBF5;
    border-color: #D6DBF5;
}

.inactive {
    background-color: transparent;
    border-color: #8f95b0;
    color: #8f95b0;
    cursor: default;
    pointer-events: none;
}

.wrong {
    background-color: #F8BCBC;
    border-color: #F8BCBC;
}

.correct {
    background-color: #94D7A2;
    border-color: #94D7A2;
    color: #293264;
}